- name: app setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

# While installing python3-devel, It upgraded openssl-libs but other openssl packages are old in AMI and mismatch occured. so upgrade before installing python or after
- name: upgrade openssl packages
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: latest
  loop:
  - openssl
  - openssl-libs
  - openssh
  - openssh-server
  - openssh-clients

- name: setup python
  ansible.builtin.import_role:
    name: common
    tasks_from: python.yaml

- name: setup system
  ansible.builtin.import_role:
    name: common
    tasks_from: system-setup.yaml